* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #333333;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  height: 80px;
  position: fixed; 
  width: 100%;
  top: 0; 
  z-index: 1000; 
}

.navbar a {
  color: rgba(234, 233, 233, 0.842);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#navbar-logo {
  height: 120px; 
}

.navbar a:hover {
  background-color: #dddddd0b;
  border-radius: 12px;
}

@media screen and (max-width: 600px) {
  .navbar a {
      float: none;
      display: block;
      text-align: left;
      padding: 10px;
      text-align: center;
  }
  #navbar-logo {
      height: 60px; 
  }
}

body {
  padding-top: 80px;
}

.about-us-container {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #333333;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-side-container {
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 150px;
  color: white;
  border-right: 1px solid white;
  display: grid;
  place-items: center;
  vertical-align: middle;
}

.right-side-container {
  padding: 50px;
  display: grid;
  place-items: center;
  vertical-align: middle;
}

.au-headline {
  font-size: 40px;
  margin-bottom: 20px;
}

.au-text {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 50px;
}

.logo-container {
  padding: 40px;
  margin-right: 20px;
  display: grid;
  place-items: center;
  vertical-align: middle;
}

.welcome-logo {
  width: 60%;
  min-width: 150px;
  max-width: 400px;
}

.meeting-image {
  width: 85%;
  min-width: 150px;
  max-width: 400px;
  border-radius: 10%;
  border: 3px solid gray;
  box-shadow: 2px 2px 10px rgb(103, 103, 103);
}

.team-container {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.team-right-container {
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 100px;
  border-left: 1px solid black;
}

.team-left-container {
  padding: 50px;
  display: grid;
  place-items: center;
  vertical-align: middle;
}

.team-headline {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

.team-text {
  font-size: 25px;
  padding-bottom: 50px;
}

.customer-image {
  width: 80%;
  min-width: 150px;
  max-width: 400px;
  border-radius: 100%;
  border: 3px solid gray;
  box-shadow: 2px 2px 10px rgb(103, 103, 103);
}

.pixel-cells-image {
  width: 100%;
  min-width: 50px;
  max-width: 460px;
  border-radius: 10%;
}

@media screen and (max-width: 1200px) {
  .about-us-container {
    padding-top: 50px;
  }

  .team-container {
    padding-top: 50px;
  }

  .left-side-container {
    padding-left: 35px;
    padding-right: 35px;
  }

  .au-headline {
    font-size: 30px;
  }

  .au-text {
    font-size: 20px;
  }
    
  .team-right-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .team-left-container {
    padding-left: 15px;
  padding-right: 15px;
  }

  .team-headline {
    font-size: 30px;
  }  

  .team-text {
    font-size: 20px;
  }
  }
